[submodule "RandomX"]
	path = randomx-sys/RandomX
	url = https://github.com/tevador/RandomX.git
[submodule "mc_randomx"]
	path = randomx-sys/mc_randomx
	url = https://github.com/MerosCrypto/mc_randomx.git
